:root {
  --color1: #5e4ae3;
  --color2: #e2f89c;
  --color3: #34f199;
  --color4: #001bff;
  --color5: #f7934c;
}
.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
