a,
button,
input {
  text-decoration: none;
  color: #093824;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #093824;
  font-weight: 600;
}
a:hover,
button:hover {
  background-color: #093824;
  color: #f2f3f7;
}

* {
  font-family: Nunito, sans-serif;
  margin: 1rem;
  background-color: #f2f3f7;
}
button {
  cursor: pointer;
}
