body {
  font-family: system-ui, sans-serif;
  background: #f4f4f4;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}
mark {
  background: yellow;
  padding: 0 2px;
}

input {
  width: 80%;
  padding: 8px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  color: #666;
}

li {
  list-style: none;
  padding: 4px 0;
}
