img {
  border-radius: 10px !important;
}
.header {
  border: none !important;
}

.filters .ordering-filters .woocommerce-ordering select {
  max-width: 15rem !important;
}
.woocommerce-mini-cart-item img,
.mini_cart_item img {
  max-width: 55px;
  max-height: 55px;
  width: auto;
  height: auto;
  margin: 5px 15px;
}
.mini_cart_item {
  justify-content: flex-start !important;
}
.mini_cart_item .quantity {
  white-space: nowrap;
  margin-left: 1rem !important;
  flex-basis: 40%;
}
.woocommerce-mini-cart-item a,
.mini_cart_item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

.category-holder {
  display: none !important;
}
.cart-mini .widget_shopping_cart_content ul {
  padding-left: 0px !important;
}
.select2-results__option {
  color: #7dcfb6 !important;
}
.payment_method_razorpay img {
  background-color: white;

  margin: 10px 0px !important;
}
.payment_method_razorpay {
  margin-left: 0px !important;
}
.cod-unavailable {
  font-size: 0.9rem;
  color: #7dcfb6;
  margin: 10px 0px !important;
}
.branding .logo img {
  max-width: 140px !important;
}
.header:not(.-fixed) {
  position: relative !important;
}
.tag-out-of-stock {
  color: #f0f7ee !important;
  background-color: #fc5130 !important;
}
.tag {
  padding: 0.5rem 1rem !important;
  border-radius: 5px !important;
}
.out-of-stock {
  color: #fc5130 !important;
  background-color: transparent !important;
  padding: 1rem !important;
  border: 1px solid #fc5130 !important;
}
.button {
  padding: 0.5rem 1.5rem !important;
}
.tag-sale {
  background-color: #7dcfb6 !important;
  color: #f0f7ee !important;
}

.elementor-19529 .elementor-element.elementor-element-368172d .button {
  color: #7dcfb6 !important;
}
.woo-actions .coupon .button {
  background-color: #ede7b1 !important;
  color: #1b1f3b !important;
  padding: 8px 16px !important;
}
.elementor-19529 .elementor-element.elementor-element-368172d .button:hover {
  color: #ede7b1 !important;
}
.main-menu-link:hover {
  color: #ede7b1 !important;
}
.woo-price {
  color: #ede7b1;
}
.single_add_to_cart_button {
  font-size: 1em !important;
  color: #7dcfb6 !important;
  text-transform: uppercase !important;
}
.single_add_to_cart_button:hover {
  scale: 1.05;
}
.sku_wrapper {
  display: none;
}
.dark-scheme
  .button:not(.-outlined):not(.-text):not(.-flat):not(.-primary):not(
    .page-link
  ):not(:hover),
.dark-scheme input[type='submit'],
.dark-scheme .video-button:not(.-outlined) .icon-button,
.dark-scheme .tabs.-with-button .tabs-nav-line,
.dark-scheme .social-networks:not(.-default-colors).-contained .network,
.dark-scheme .social-networks.-default-colors.-contained .network:hover,
.dark-scheme .cart-button .badge,
.dark-scheme .menu li.version span:after {
  background-color: #7dcfb6;
  color: #1b1f3b;
}
.hamburger-nav.type3 .menu .mega-menu-item > a span.cloned {
  -webkit-text-stroke: 1px #7dcfb6;
}
.menu {
  background-color: transparent !important;
}
.elementor-section:hover {
  border-color: #7dcfb6 !important;
}
.dark-scheme
  .button:not(.-outlined):not(.-text):not(.-flat):not(.-primary):not(
    .page-link
  ):not(.-reset-color):not(:hover),
.dark-scheme input[type='submit'],
.dark-scheme .video-button:not(.-outlined) .icon-button,
.dark-scheme .tabs.-with-button .tabs-nav-line,
.dark-scheme .social-networks:not(.-default-colors).-contained .network,
.dark-scheme .social-networks.-default-colors.-contained .network:hover,
.dark-scheme .cart-button .badge,
.dark-scheme .menu li.version span:after {
  background-color: #7dcfb6 !important;
}
.btn:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):hover,
.btn:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):active,
.btn:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):focus,
.button:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):hover,
.button:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):active,
.button:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):focus,
a.button:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):hover,
a.button:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):active,
a.button:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):focus,
button[type='submit']:not(.-outlined):not(.-flat):not(.-text):not(
    .-primary
  ):not(.-pagination):hover,
button[type='submit']:not(.-outlined):not(.-flat):not(.-text):not(
    .-primary
  ):not(.-pagination):active,
button[type='submit']:not(.-outlined):not(.-flat):not(.-text):not(
    .-primary
  ):not(.-pagination):focus,
input[type='submit']:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):hover,
input[type='submit']:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):active,
input[type='submit']:not(.-outlined):not(.-flat):not(.-text):not(.-primary):not(
    .-pagination
  ):focus {
  background-color: #ede7b1 !important;
  color: #1b1f3b !important;
}
.icon-buttons-animation .icon-button::before {
  display: inline-block;
  content: '\00d7';
  color: #ede7b1 !important;
}
.woo-alert-group .alert:not(.-danger) {
  color: #ede7b1 !important;
}
.in-stock {
  background-color: #ede7b1 !important;
  color: #1b1f3b !important;
  font-weight: bold !important;
}
.in-stock:hover {
  background-color: #7dcfb6 !important;
  color: #1b1f3b !important;
}
.out-of-stock {
  color: #fc5130 !important;
  font-weight: 8px !important;
  text-transform: uppercase !important;
}
.out-of-stock {
  transition: scale 0.6s ease;
}
.out-of-stock:hover {
  scale: 0.9;
}
.woocommerce-store-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #ebebd3;
  padding: 30px 15px;
  background-color: #f95738;
  font-size: 0.8em;
}
.woocommerce-store-notice__dismiss-link {
  display: none;
}
.icon-button {
  border-radius: 5px !important;
}
.checkout-button {
  margin: 1rem 0;
}
.coupon {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 1em auto;
}
.icon-button .cart {
  background: transparent !important;
}
.hamburger-button {
  padding: 0px !important;
}
.woocommerce-shipping-methods {
  margin: 0;
  padding: 0;
}
.woocommerce-Price-amount {
  color: #ede7b1;
}
.card-details {
  padding-bottom: 2rem !important;
}
.woocommerce-shipping-methods li {
  list-style: none;
  margin: 0 !important;
}
.woo-actions .coupon {
  margin: 1rem;
}
.woo-actions .coupon input {
  width: 75%;
  margin: 0;
}
.woo-actions .coupon label {
  font-size: 0.8rem;
}
.woo-actions .coupon .-flat {
  padding: 0px 32px;
}
.woo-actions .button {
  padding: 8px 16px;
  cursor: pointer;
}
.woo-actions {
  align-items: center;
}
.dark-scheme select {
  color: white !important;
}
