html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #3182d4;
}

.add,
.view {
  padding: 30px;
  width: 40%;
}

.add {
  background: #ebe6e6;
}

ol {
  list-style-type: none;
}
