* {
  font-family: system-ui, 'Segoe UI';
  margin: 0;
  padding: 0;
}
.tab-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}
button.active {
  border-bottom: 2px solid green;
}
.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}
