.tabs {
  border: 1px solid;
  max-width: 600px;
  margin: 4rem;
  padding: 4rem;
}
.tab-buttons {
  margin-bottom: 1rem;
}
.tab-button {
  border: none;
  cursor: pointer;
  background: none;
}

.tab-button.active {
  border-bottom: 2px solid green;
}
* {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tab-panels,
.tab-buttons {
  display: flex;
  gap: 2rem;
}
.tab-panel {
  display: none;
}
.tab-panel.active {
  display: block;
}
